DOCKER_EXPOSE_PORT=8100
GO_PORT=81

POSTGRES_HOST=demo-haproxy
POSTGRES_PORT=5001
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=citus

JWT_SECRET_KEY=secretkey

REDIS_HOST=redis
REDIS_PORT=6479