DOCKER_EXPOSE_PORT=8200
GO_PORT=81

JWT_SECRET_KEY=secretkey

REDIS_HOST=redis-counter
REDIS_PORT=6479

EXTERNAL_REDIS_HOST=redis
EXTERNAL_REDIS_PORT=6479

ERR_EVENTS_STREAM=errevents
EVENTS_STREAM=events
MAIN_CONSUMER_GROUP=counter
MAIN_CONSUMER=counter